<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="container-md">

<form th:method="POST"
      th:action="@{/students/new}"
      th:object="${student}">
    <div class="mb-3">
        <label for="name" class="form-label">Введите имя:</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Имя">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name</div>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Введите фамилию:</label>
        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Фамилия">
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName</div>
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Введите номер телефона:</label>
        <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Номер телефона">
        <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber</div>
    </div>
    <div class="mb-3">
        <label for="birthday" class="form-label">Введите дату рождения:</label>
        <input type="date" th:field="*{birthday}" class="form-control" id="birthday" placeholder="Дата рождения">
        <div style="color:red"
             th:if="${#fields.hasErrors('birthday')}"
             th:errors="*{birthday}">birthday</div>
    </div>
    <input class="btn btn-success" type="submit" value="Создать"/>
</form>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
